@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;700&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 21px;
  color: #212529;
}

h2 {
  font-size: 16px;
  color: #ff2253;
}

#logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#perfil {
  cursor: pointer;
  width: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: white;
  width: 150px;
  top: -150px;
  right: 3%;
  transition: 0.3s;
}

.menu-open {
  top: 30px;
}

.menu button {
  background-color: #f8f9fa;
  border: #f8f9fa 1.5px solid;
  color: #212529;
  padding: 5px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  margin: 5px;
}

.menu button:active {
  background-color: #ff2253;
  border: #ff2253 1.5px solid;
  color: #f8f9fa;
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
  border: 1.5px solid #e9ecef;
  border-radius: 12px;
  margin: 10px;
}

#searchIcon {
  width: 20px;
  height: 20px;
}

#Search {
  background-color: #e9ecef;
  font-size: 16px;
  width: 90%;
  padding: 10px;
}

#top {
  display: flex;
  gap: 10px;
  width: 90%;
  margin: auto;
  white-space: nowrap;
  overflow-x: scroll;
}

#top::-webkit-scrollbar {
  width: 0;
}

#top img {
  width: 20px;
  height: 20px;
}

#top button {
  height: 50px;
  padding: 0px 20px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
}

.Bakery,
.Fruits,
.Drinks,
.All {
  background-color: #fff7f4;
  border: 1.5px solid #fff7f4;
  color: #212529;
}

.Bakery:hover,
.Fruits:hover,
.Drinks:hover,
.All:hover {
  background-color: #ff2253;
  color: #f8f9fa;
  border: 1.5px solid #ff2253;
}

#botao-ativo {
  background-color: #ff2253;
  color: #f8f9fa;
  border: 1.5px solid #ff2253;
}

.filterButtons img {
  width: 10px;
  height: 10px;
  position: relative;
  left: 30px;
}

.userUrl {
  padding-top: 05px;
  width: 25px;
  height: 25px;
  border-radius: 20%;
  padding-left: 3px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  padding-left: 10px;
  font-weight: 700;
}
.h2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #ff2253;
  padding-right: 8%;
}

.filterButtons {
  width: 100%;
  position: relative;
  left: 18px;
  white-space: nowrap;
  overflow-x: scroll;
  flex-direction: row;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 20px;
}
button {
  cursor: pointer;
}
.allProducts {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  background: #ff2253;
  border: 1.5px solid #ff2253;
  border-radius: 15px;
  height: 15px;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addProductBackgroundModalStyle {
  width: 100%;
  height: 110%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}
.editProductBackgroundModalStyle {
  width: 100%;
  height: 110%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
}
.deleteProductBackgroundModalStyle {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
}

.modalAddProduct {
  width: 70%;
  height: 70%;
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  margin: 90px auto 0 auto;
  transition: 350ms;
  top: -100%;
}
.modalEditProduct {
  width: 70%;
  height: 70%;
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  margin: 90px auto 0 auto;
  transition: 350ms;
  top: -100%;
}
.modalDeleteProduct {
  width: 70%;
  height: 30%;
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  margin: 90px auto 0 auto;
  transition: 350ms;
  top: -100%;
}
.modalForm {
  padding-left: 5px;
}
.registerProduct {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 11px;
}
.newProduct {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  padding: 8px;
}
.productChange {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13px;
}
.acceptProduct {
  color: white;
  background: #ff2253;
  border: 1.5px solid #ff2253;
  border-radius: 32px;
  width: 210px;
  height: 25px;
}
.registerProduct {
  padding: 8px;
}
.deleteProduct {
  font-family: "Poppins";
  font-style: normal;
  padding: 12px;
  right: 65%;
}
.confirmDelete {
  font-family: "Inter";
  font-style: normal;
  font-size: 12px;
  background: #f8f9fa;
  border: 1.5px solid #f8f9fa;
  border-radius: 32px;
  padding: 10px;
}
.changes {
  font-family: "Inter";
  font-style: normal;
  font-size: 12px;
  background: #f8f9fa;
  border: 1.5px solid #f8f9fa;
  border-radius: 32px;
}
.inputProduct {
  background-color: #dee2e6;
  border-radius: 10px;
  width: 200px;
  height: 25px;
  padding-left: 13px;
}
.categoriesProducts {
  background: #f8f9fa;
  border: 1.5px solid #f8f9fa;
  border-radius: 32px;
  color: #868e96;
  padding: 5px;
}
.span {
  float: right;
  font-size: 14px;
  margin-right: 8px;
  color: #868e96;
  cursor: pointer;
}

.bread {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  background: #fff7f4;
  font-weight: 500;
  border: 1.5px solid #fff7f4;
  border-radius: 15px;
  padding-left: 25px;
}

.fruits {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  background: #fff1f4;
  font-style: normal;
  font-weight: 500;
  border: 1.5px solid #fff1f4;
  border-radius: 15px;
  padding-left: 25px;
}

.drink {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  background: #f3eef5;
  font-style: normal;
  font-weight: 500;
  border: 1.5px solid #f3eef5;
  border-radius: 15px;
  padding-left: 25px;
}

.addNewProduct {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  background: #ff2253;
  border: 1.5px solid #ff2253;
  border-radius: 15px;
  color: #f8f9fa;
  display: flex;
  float: right;
  margin-top: 32px;
}
.subTitle {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #868e96;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}
.nomes {
  align-items: center;
  width: 110%;
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
}
.photo {
  width: 32px;
  height: 32px;
  border-radius: 150px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #212529;
  font-size: 10px;
}
.paragraph1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #868e96;
}
.paragraph2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #868e96;
  padding-left: 5px;
}

.paragraph3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: #868e96;
  padding-left: 5px;
}

.edit {
  color: #868e96;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.delete {
  color: #868e96;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
#search-icon {
  width: 10px;
  height: 10px;
}
.breadIcon {
  width: 10px;
  height: 10px;
}
.fruitIcon {
  width: 10px;
  height: 10px;
}
.drinkIcon {
  width: 10px;
  height: 10px;
}
#bakery {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
  background: #fff7f4;
}
#fruits {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}
#drink {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
  background: #fff7f4;
}
#productsList {
  display: block;
  width: 100%;
  height: 15%;
  padding: 4px;
}
li {
  display: flex;
  flex-direction: row;
  width: 110%;
  height: 35%;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e9ecef;
  border-radius: 12px;
}

/* Style para dispositivo com tamanho acima de 768px  */

@media screen and (min-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  .header {
    padding-top: 20px;
    padding-left: 20px;
    gap: 7px;
    height: 72px;
  }
  .h1 {
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-left: 5%;
  }
  .h2 {
    padding: 2px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  #search-icon {
    width: 20px;
    height: 20px;
    position: relative;
    left: 32px;
    z-index: 1;
  }
  .containerSearch {
    display: flex;
    justify-content: flex-end;
    background-color: #fcfcfc;
    height: 40px;
    width: 80%;
  }
  .userUrl {
    padding-top: 05px;
    width: 50px;
    height: 30px;
    border-radius: 30%;
  }
  .searchProduct {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 45px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 18px 15px 50px;
  }
  .filterButtons {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    margin-left: 115px;
    gap: 28px;
    text-align: center;
  }
  .filterButtons img {
    width: 20px;
    height: 20px;
    position: relative;
    left: 70px;
  }
  .allProducts {
    background-color: #ff2253;
    color: #f8f9fa;
    width: 88px;
    height: 48px;
    border: 1.5px solid #ff2253;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
  }
  .bread,
  .fruits,
  .drink {
    background-color: #fff1f4;
    width: 170px;
    height: 48px;
    border: 1.5px solid #fff1f4;
    border-radius: 32px;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .bread {
    box-shadow: 0 0 0 0;
    outline: 0;
    background: #fff7f4;
  }
  .drink {
    background: #f3eef5;
  }
  .fruits {
    background: #fff1f4;
    border: 1.5px solid #fff1f4;
  }

  .addNewProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 210px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: 1.5px solid #ff2253;
    border-radius: 32px;
    position: relative;
    bottom: 60px;
    left: -8%;
  }
  .subTitle {
    padding-right: 10%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    gap: 330px;
    margin-left: 220px;
  }
  main {
    margin-left: 70px;
    margin-right: 80px;
  }
  .product {
    display: flex;

    background: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    padding-bottom: 5px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  li {
    margin-bottom: 40px;
    width: 100%;
    justify-content: flex-start;
  }
  h3 {
    font-size: 14px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
  }
  .h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .paragraph1 {
    display: flex;
    font-size: 14px;
    background: #f8f9fa;
    border-radius: 8px;

    align-items: center;
    justify-content: center;
  }
  .paragraph2 {
    font-size: 14px;
  }
  .paragraph3 {
    font-size: 14px;
  }
  .buttons {
    display: flex;
    gap: 15px;
    padding-right: 60px;
  }
  #actions {
    display: flex;
    width: 60px;
    justify-content: space-between;
  }
  #btnEdit,
  #btnDelete {
    width: 20px;
    height: 20px;
  }
  .nomes {
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
  }

  /* Style modal add produto */
  .addProductBackgroundModalStyle {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
  }
  .modalAddProduct {
    display: block;
    width: 30%;
    height: 95%;
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    margin: 90px auto 0 auto;
    transition: 350ms;
    top: -10%;
    padding-top: 7px;
    position: relative;
  }
  .registerProduct {
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    padding: 10px;
  }
  .span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9ecef;
    border-radius: 4px;
    width: 25px;
    height: 25px;
  }
  .newProduct {
    font-size: 14px;
    padding-top: 30px;
  }
  .inputProduct {
    width: 420px;
    height: 60px;
    background: #f8f9fa;
  }
  .categoriesProducts {
    gap: 105px;
    width: 100px;
    height: 35px;
  }
  .categoriesProducts:hover {
    background-color: #ff2253;
    color: #dee2e6;
  }
  .categoriesAll {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .productChange {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    gap: 70px;
  }
  .acceptProduct {
    width: 350px;
    height: 50px;
  }
  /* Style modal editar produto */
  .editProductBackgroundModalStyle {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
  }
  .modalEditProduct {
    display: block;
    width: 23%;
    height: 85%;
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    margin: 90px auto 0 auto;
    transition: 350ms;
    top: -100%;
    padding-top: 10px;
    padding-left: 5px;
  }
  .changes {
    width: 150px;
    height: 50px;
  }
  .cadastrarProduto {
    gap: 30px;
  }
  /* Style modal deletar produto */
  .deleteProductBackgroundModalStyle {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: block;
  }
  .modalDeleteProduct {
    display: block;
    width: 20%;
    height: 30%;
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    margin: 90px auto 0 auto;
    transition: 350ms;
    top: -100%;
    padding-top: 10px;
    padding-left: 5px;
  }
  .deleteProduct {
    padding: 40px;
    font-size: 14px;
  }
  .cadastrarProduto {
    gap: 70px;
  }
  .confirmDelete {
    color: #868e96;
    width: 150px;
    height: 60px;
  }
  .searchIcon {
    width: 30px;
    height: 30px;
  }
  .breadIcon {
    width: 30px;
    height: 30px;
  }
  .fruitIcon {
    width: 30px;
    height: 30px;
  }
  .drinkIcon {
    width: 30px;
    height: 30px;
  }
  #productsList {
    display: block;
    justify-content: space-evenly;
    width: 100%;
    padding: 4px;
    height: auto;
  }
  #li {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    padding: 20px;
  }
}

@media only screen and (min-width: 900px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    margin: auto;
    box-shadow: 0 0 40px -18px;
  }

  #search-area {
    width: 320px;
  }

  .menu {
    right: 20%;
  }

  .menu-open {
    top: 55px;
  }

  #top {
    overflow-x: visible;
    margin: 50px 5%;
  }
}
