@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

h1, h2, h3, p, caption {
  font-family:'Poppins', sans-serif;
}

h1 {
    font-size:21px;
    color: #212529;
}

h2 {
    font-size:16px;
    color: #FF2253;
}

#logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#menu button {
  background-color: #F8F9FA;
  border: #F8F9FA 1.5px solid;
  color: #212529;
  padding: 5px;
  border-radius: 15px;
  font-family:'Poppins', sans-serif;
  margin: 5px;
}

#menu button:active {
  background-color: #FF2253;
  border: #FF2253 1.5px solid;
  color: #F8F9FA;
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9ECEF;
  border: 1.5px solid #E9ECEF;
  border-radius: 12px;
  margin: 10px;
}

#searchIcon {
  width: 20px;
  height: 20px;
}

#Search {
  background-color: #E9ECEF;
  font-size: 16px;
  width: 90%;
  padding: 10px;
}

#top {
  display: flex;
  gap: 10px;
  width: 90%;
  margin: auto;
  white-space:nowrap;
  overflow-x: scroll;
}

#top::-webkit-scrollbar {
  width: 0;
}

#top img{
    width: 20px;
    height: 20px;
}

#top button {
  height: 50px;
  padding: 0px 20px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
}

.Bakery, .Fruits, .Drinks, .All{
  background-color: #FFF7F4;
  border: 1.5px solid #FFF7F4;
  color: #212529  ;
}

.Bakery:hover, .Fruits:hover, .Drinks:hover, .All:hover{
  background-color: #FF2253;
  color: #F8F9FA;
  border: 1.5px solid #FF2253;
}

#botao-ativo {
  background-color: #FF2253;
  color: #F8F9FA;
  border: 1.5px solid #FF2253;
}

main{
  overflow-x: scroll;
  margin: 10px auto;
  width: 90%;
  height: 420px;
}

#list-products {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.preview-product {
  display: flex;
  width: 280px;
  flex-direction: column;
  justify-content: space-between;
}

.preview-product .photo {
  width: 280px;
  height: 200px ;
}

#list-products h3 {
    font-weight: 500;
    font-size: 16px;
    color:black;
}

.preview-product p, span {
    color: #868E96;
    font-size: 14px;
    text-overflow:ellipsis;
}

.preview-product p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart_price {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.cart_price p {
    font-weight: 500;
    font-size: 14px;
    color:#212529;
}

.purchaseButton {
  background-color: #E4F7EF;
  border-radius: 50%;
  border:none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.cartIcon{
  width: 20px;
  height: 20px;
  filter: invert(50%) sepia(43%) saturate(3926%) hue-rotate(131deg) brightness(90%) contrast(91%);
}

.purchaseButton:hover .cartIcon {
  filter: none;
}

.purchaseButton:hover {
  background-color: #0CA678;
}

/* Cart CSS */
#tileCar {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  background-color: #FF2253;
  padding: 10px;
  gap: 10px;
  border-radius: 20px;
}

#tileCar h4 {
  font-family:'Poppins', sans-serif;
  color: white;
}

#cart-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  top: 0;
  left: 0;
}

.purchaseCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 90%;
  height: 600px;
}

#cart-header {
  display: flex;
  align-items: center;
  height: 10%;
}

#cart-close {
  position: relative;
  border-radius: 50%;
  background-color: #FF2253;
  width: 30px;
  height: 30px;
  padding: 3px;
  text-align: center;
  color: white;
  left: 60%;
}

#boxCart {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding: 0 15px;
}

#cartItens {
  display: none;
  height: 90%;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.carItem {
  display: flex;
  justify-content: space-between;
}

.carPhoto {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap:5px;
}

#empyt-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #868E96;
  font-family:'Poppins', sans-serif;
}

#container-purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 10%;
}

#container-purchase p {
  font-weight: 500;
  font-size: 12px;
  color:#000000;
}

#Quanti{
  display: flex;
  justify-content: space-between;
}

#Price{
  display: flex;
  justify-content: space-between;
}

#bag {
  width: 60px;
  height: 60px;
}

.carItem h3 {
  font-weight: 500;
  font-size: 14px;
  color:#000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 170px;
}

.category {
  font-size: 12px;
}

.price {
  font-size: 14px;
  color:#212529;
}

.hidden{
  display: none;
}

@media only screen and (min-width: 900px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    margin: auto;
    box-shadow: 0 0 40px -18px;
  }

  #search-area {
    width: 320px;
  }

  #top {
    overflow-x: visible;
    margin: 50px 5%;
  }

  main {
    overflow-x: visible;
    margin-left: 5%;
    width: 70%;
  }

  #list-products {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
  }

  .preview-product {
    gap: 15px;
    margin-bottom: 50px;
  }

  #tileCar {
    position: fixed;
    top: 0;
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    top: calc(5% + 75px);
    right: 5%;
  }

  #cart-modal {
    display: flex;
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: white;
    justify-content: center;
    top: calc(5% + 125px);
    right: 5%;
    left: unset;
  }

  #cart-header {
    display: none;
  }

  .purchaseCart {
    width: 100%;
  }

  #cartItens {
    gap: 50px;
  }

  #cartItens h3 {
    width: 100%;
  }

  .info {
    width: 150px;
  }

  #container-purchase {
    width: 100%;
    justify-content: space-between;
  }

  #Quanti {
    width: 100%;
    padding: 22px 18px;
    background-color: #F8F9FA;
  }

  #Price {
    padding: 22px 18px;
  }

  #boxCart::-webkit-scrollbar {
    width: 0;
  }
}


