@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  background-color: white;
  margin: 50px auto;
  border-radius: 10px;
  border: #ffe9ee 5px solid;
}

main:hover {
  border: #ff2253 5px solid;
}

h1,
h2 {
  text-align: center;
  color: #212529;
  padding: 10px 5px;
  font-family: "Poppins", sans-serif;
}

h2,
a {
  color: #ff2253;
  font-weight: bold;
}

.logo {
  display: flex;
  margin: auto;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  max-width: 250px;
  background-color: #f8f9fa;
  border: #dee2e6 1.5px solid;
  color: #868e96;
}

input:hover {
  background-color: #e9ecef;
  border: #dee2e6 1.5px solid;
  color: #868e96;
}

input:focus {
  background-color: white;
  border: #212529 1.5px solid;
  color: #212529;
}

p {
  color: #212529;
  font-size: 12px;
  margin: 5px;
}

#btnLogin {
  background-color: #f8f9fa;
  border: #f8f9fa 1.5px solid;
  color: #212529;
  width: 70%;
  max-width: 200px;
  margin-bottom: 40px;
  cursor: pointer;
}

#btnLogin:active {
  background-color: #ff2253;
  border: #ff2253 1.5px solid;
  color: #f8f9fa;
}

@media (min-width: 1024px) {
  #btnLogin:hover {
    background-color: #ff2253;
    border: #ff2253 1.5px solid;
    color: #f8f9fa;
  }

  #btnLogin:active {
    background-color: white;
    border: #212529 1.5px solid;
    color: #212529;
  }
}
